{# templates/movie/now_playing.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <form method="get" action="{{ path('movie_search') }}">
        <input type="text" name="query" placeholder="Rechercher un film">
        <button type="submit">Rechercher</button>
    </form>
    <h1>Films du moment</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ path('movie_show', {id: movie.id}) }}">
                    {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }}">
                    {% endif %}
                    {{ movie.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}