<nav class="navbar">
    <a href="{{ path('home') }}" class="navbar-logo">
        <img src="{{ asset('images/logopopcornaddict.png') }}" alt="Logo">
    </a>
    <div class="navbar-links">
        <a href="{{ path('movie_search') }}">Recherche de films</a>
        <a href="{{ path('app_register') }}">Inscription</a>
        <a href="{{ path('app_login') }}">Connexion</a>
    </div>
</nav>